/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* roots */

:root {
    --small-margin: 0 20px;
    --blue: #0061FF
}

/* utils */
.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.m-15 {
    margin: 15px;
}

.btn {
    display: inline-block;
    background-color: var(--blue);
    color: #fff;
}

.border-gray {
    border: 1px solid lightgray;
}

/* header */

header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 20px;
    vertical-align: middle;


    line-height: 30px;
    align-items: center;
    z-index: 1;
    background-color: #fff;
}

header a {
    display: inline-block;
    text-decoration: none;
    color: #000;

}

#logo {
    display: block;
    height: 70px;
    text-align: center;

}



header ul {
    list-style-type: none;
    align-items: center;

    margin-left: 30px;
}

.nav-bar li {
    margin: var(--small-margin);
}

#inizia {
    align-self: center;
    padding: 2px 15px;
    font-size: 16px;
    text-align: center;

}

/* main */

main {
    margin-top: 70px;
}

/* jumbotron section */

.jumbotron {
    background-color: #B4D0E7;
    padding-top: 30px;
}

h1 {
    font-size: 4.5rem;
    font-weight: 900;
    margin: 30px 0;
    text-align: left;
}

#jumbo-img {
    float: right;
    display: inline-block;
    height: 450px;
    padding-right: 50px;
}

.jumbo-text {
    text-align: left;
    width: 35%;
}

.jumbo-btn {
    text-decoration: none;
    padding: 10px 15px;
    margin: 30px 0;
    width: 250px;
    text-align: center;
}

.fa-arrow-down {
    font-size: 3rem;
    margin: 60px 0 30px 0;
    color: #000
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*  purchase plans section */

.purchase-plans {
    margin-top: 70px;
    font-size: 0.9rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 60px;
}

.circle {
    display: inline-block;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    margin-right: 5px;
    line-height: 1.5rem;
    vertical-align: middle
}

#selected {
    border: 4px solid var(--blue);
}

#not-selected {
    border: 2px solid lightgray;
    margin-left: 50px;
}

.text {
    line-height: 1.5rem;
    vertical-align: middle;
    margin-bottom: 30px;
}

/* cards */

.card {
    width: 30%;
    border: 1px solid lightgray;
}

table {
    width: 100%;
    text-align: center;
}

.table-title {
    display: inline-block;
    border-bottom: 1px solid lightgray;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.table-body {
    padding: 20px;

}

.table-body h4 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
}

.fa-ul {
    margin: 60px 0 30px 0;
}

.fa-ul li {
    margin: 15px
}

.acquista {
    color: var(--blue);
}

hr {
    width: 60px;
    margin-top: 50px;
    margin-bottom: 50px
}

h6 {
    font-size: 0.9rem;
    margin-bottom: 30px;
}

.tick-list {
    list-style-type: none;
}

.fa-check {
    color: var(--blue);
}

/* last horizontal card */

.horizontal-card {
    margin-top: 30px;
}

.horizontal-card-description {
    flex-basis: 70%;
    padding: 0 20px
}

.horizontal-card-btn {
    flex-basis: 30%;
    justify-content: center;

}

.horizontal-card-btn .btn {
    justify-content: center;
    height: 40px;
}

.horizontal-card-description h4 {
    margin-top: 30px;
}

.horizontal-card-description span {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 50px
}

.horizontal-card-description p {
    margin-bottom: 30px;
}

/* partner section */

#partner-section {
    margin: 150px 0;
}

.partner-img {
    max-width: calc(100% / 3 * 2)
}

.partner-text {
    max-width: calc(100% / 3)
}

#partner-img {
    max-width: 100%;
    height: 550px
}

.partner-text {
    padding: 20px;
}

.partner-text h4 {
    margin: 0;
    font-size: 1.5rem;
}

.partner-text p {
    font-size: 0.95rem;
    margin-top: 20px;
}

#partner-section .btn {
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    margin-top: 50px;
}

/* dropbox business section */

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-direction: column;
}

.g-20 {
    margin: -20px 0;
}

.business-card {
    padding: 20px;
}

.business-card img {
    max-width: 100%;
}

.business-card h4 {
    margin: 0;
    font-size: 1.5rem;
}

.business-card p {
    margin-top: 30px;
}

.business-section-footer {
    margin-top: 150px;
}

.business-section-footer a {
    color: var(--blue)
}