/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* roots */

:root {
    --small-margin: 0 20px;
    --blue: #0061FF
}

/* utils */
.container-large {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.m-15 {
    margin: 15px;
}

.btn {
    display: inline-block;
    background-color: var(--blue);
    color: #fff;
}

/* header */

header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 20px;

    line-height: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #000;
}

#logo {
    display: block;
    height: 30px;
    text-align: center;

}



ul {
    list-style-type: none;
    display: inline-block;

}

header ul {
    margin-left: 30px;
}

.nav-bar li {
    margin: var(--small-margin);
}

#inizia {
    align-self: center;
    padding: 2px 15px;
    font-size: 16px;
    text-align: center
}

/* main */

main {
    margin-top: 70px;
}

/* jumbotron section */

.jumbotron {
    background-color: #B4D0E7;
    padding-top: 30px;
}

h1 {
    font-size: 4.5rem;
    font-weight: 900;
    margin: 50px 0;
    text-align: left;
}

#jumbo-img {
    float: right;
    display: inline-block;
    height: 450px;
    padding-right: 50px;
}

.jumbo-text {
    text-align: left;
    width: 30%;
}

.jumbo-btn {
    text-decoration: none;
    padding: 10px 15px;
    margin: 30px 0;
}

.fa-arrow-down {
    font-size: 3rem;
    margin: 60px 0 30px 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}